// COLORS
$primary-color: #42a7c2;
$text-primary-color: #333333;
$text-second-color: #7b7b7b;
$bg-primary-color: #eaf1f7;
$bg-second-color: #e1e8ef;
$border-primary-color: #e1e8ef;
$border-input-color: #ced4da;
$placeholder-color: #afafaf;
