@use "../abstracts/variables" as modules;
@use "../abstracts/mixins" as mixins;

.service {
  margin-top: 9.647rem;
  &__inner {
    gap: 0 1.844rem;
    margin-bottom: 4.013rem;
  }
  &__title {
    font-size: 2.6rem;
    line-height: 1.46;
    margin-bottom: 1.492rem;
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1.55rem;
  }
  &__column {
    &:first-child .service__box:nth-child(2) {
      margin-bottom: 8rem;
    }
  }
  &__box {
    padding-top: 2.458rem;
    border-top: 1px solid modules.$primary-color;
    &:not(:last-child) {
      margin-bottom: 4.5rem;
    }
  }
  &__text {
    color: modules.$primary-color;
    position: relative;
    display: inline-block;
    font-size: 2rem;
    line-height: 1.45;
    &::before {
      content: "";
      width: 100%;
      height: 4px;
      background-color: modules.$primary-color;
      position: absolute;
      left: 0;
      top: calc(-100% + 4px);
    }
  }
  &__list {
    margin-top: 1.9rem;
    color: modules.$primary-color;
    list-style: circle;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
  }
  @include mixins.maxWidth(767.98px) {
    margin-top: 4rem;
    &__title {
      font-size: 2rem;
    }
    .section__description {
      font-size: 1.3rem;
    }
  }
  @include mixins.maxWidth(479.98px) {
    &__text {
      font-size: 1.8rem;
      &::before {
        top: calc(-100% + 1px);
      }
    }
    &__link {
      font-size: 1.4rem;
    }
    &__row {
      grid-template-columns: 1fr;
      gap: 3rem 0;
    }
  }
}
