@use "../abstracts/variables" as modules;
.btn {
  background-color: modules.$primary-color;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  &--primary {
    min-width: 17.6rem;
    padding: 8px 6px 8px 8px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 1.8rem;
  }
}
